{% extends 'base.html' %}
{% load static %}

{% block title %} - 關於我{% endblock %}

{% block header %}
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=65ff85fa36e2d3001920091b&product=sticky-share-buttons&source=platform" async="async"></script>
{% endblock header %}

{% block breadcrumb %}
<!-- breadcrumbs -->
    <nav class="py-3 px-5 text-blog-dark bg-gray-50">
        <div class="sharethis-sticky-share-buttons"></div>
        <div class="container px-2">
            <ul class="inline-flex items-center space-x-1 md:space-x-3 text-sm">
                <li>
                    <a href="/"><i class="fa fa-home mr-1"></i>首 頁</a>
                </li>
                <li>
                    <i class="fa fa-chevron-right mr-3"></i><span class="text-gray-400">關於我</span>
                </li>
            </ul>
        </div>
    </nav>
{% endblock breadcrumb %}

{% block content %}
    <main class="container my-4 flex flex-col md:flex-row items-start px-2">
        <!-- left side -->
        <div class="w-full md:w-2/5 bg-white mb-4 md:mr-4 rounded-md shadow-md">
            <!-- top background -->
            <div class="rounded-t-md w-full h-32 relative bg-gradient-to-r from-purple-500 to-pink-500">
                <div class="flex items-center space-x-6 absolute left-6 -bottom-4">
                    <!-- avatar -->
                    <img class="rounded-full" width="100" height="100" src="{{ item.avatar.url }}" alt="{{ item.fullname }}">
                    <!-- title -->
                    <div class="text-white">
                        <h1 class="text-xl">{{ item.aliasname }} {{ item.fullname }}</h1>
                        <p class="text-sm">{{ item.title }}</p>
                        <div class="mt-2 bg-white text-blog-dark text-xs rounded-sm shadow-lg py-1 px-5 text-center">
                            <span class="mr-4"><span class="text-primary">28</span> 篇博文</span>
                            <span><span class="text-primary">{{ item.hits }}</span> 熱度</span>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- intro -->
            <div class="mt-8 mx-6">
                <h2 class="mb-4 font-light text-xl">關於我</h2>
                <p class="font-light text-[12px] md:text-[14px]">{{ item.bio | safe }}</p>
                <ul class="mt-4 flex flex-col flex-wrap space-y-4 font-light text-[12px] md:text-[14px]">
                    <li class="font-bold">最愛&nbsp;React/Next.js/Tailwindcss/Django/FastAPI</li>
                    <li>熟悉使用LangChain框架，開發基於LLM大語言模型驅動的AI Application</li>
                    <li>熟悉Python/SQL/JavaScript/TypeScript/Docker</li>
                </li>
            </div>
            <!-- contact info -->
            <ul class="m-5 text-sm text-teritary">
                <li class="mb-1 bg-gray-50 py-1 flex items-center">
                    <i class="fa-brands fa-github text-xl mr-3"></i> <span class="pb-1"><a href="https://github.com/ziliang-wang" target="_blank">https://github.com/ziliang-wang</a></span>
                </li>
                <li class="mb-1 bg-gray-50 py-1 flex items-center">
                    <i class="fa-solid fa-at text-xl mr-3"></i> <span class="pb-1"><a href="emailto:{{item.email}}">{{ item.email }}</a></span>
                </li>
                <li class="mb-1 bg-gray-50 py-1 flex items-center">
                    <i class="fa-brands fa-line text-xl mr-3"></i> <span class="pb-1">{{ item.line }}</span>
                </li>
                <li class="mb-1 bg-gray-50 py-1 flex items-center">
                    <i class="fa-brands fa-weixin text-xl mr-3"></i> <span class="pb-1">{{ item.weixin }}</span>
                </li>
            </ul>
        </div>
        <!-- right side -->
        <div class="w-full md:w-3/5 bg-white p-4">
            <div>
                <h2 class="text-lg py-2 border-b"><span class="py-2 border-b-4 border-b-primary">學歷</span></h2>
                <div class="py-4">
                    <h3 class=""><span class="bg-gray-100 py-1 px-4">台北科技大學&nbsp;&nbsp;電子工程系</span></h3>
                    <!-- <h4><span class="bg-gray-100 py-1 px-4">曾任職於 互動資通 / 104人力銀行(上海) / 達芙妮國際(上海)</span></h4> -->
                </div>
            </div>
            <div>
                <h2 class="text-lg py-2 border-b"><span class="py-2 border-b-4 border-b-primary">經歷</span></h2>
                <div class="py-4">
                    <h3 class="mb-2"><span class="bg-gray-100 py-1 px-4">互動資通&nbsp;&nbsp;高級工程師</span></h3>
                    <h3 class="mb-2"><span class="bg-gray-100 py-1 px-4">Udacity優達學城(上海)</span></h3>
                    <h3 class="mb-2"><span class="bg-gray-100 py-1 px-4">達芙妮國際(上海)</span></h3>
                    <h3 class=""><span class="bg-gray-100 py-1 px-4">104人力銀行(上海)</span></h3>
                    <!-- <h4><span class="bg-gray-100 py-1 px-4">曾任職於 互動資通 / 104人力銀行(上海) / 達芙妮國際(上海)</span></h4> -->
                </div>
            </div>
            <div>
                <h2 class="text-lg py-2 border-b"><span class="py-2 border-b-4 border-b-primary">熟悉的技能</span></h2>
                <div class="my-4 text-gray-500 flex justify-between">
                    <ul class="space-y-2">
                        <li><i class="fa fa-keyboard mr-2"></i>React</li>
                        <li><i class="fa fa-keyboard mr-2"></i>Vue</li>
                        <li><i class="fa fa-keyboard mr-2"></i>Flutter</li>
                        <li><i class="fa fa-keyboard mr-2"></i>MySQL</li>
                        <li><i class="fa fa-keyboard mr-2"></i>MongoDB</li>
                    </ul>
                    <ul class="space-y-2">
                        <li><i class="fa fa-keyboard mr-2"></i>FastAPI</li>
                        <li><i class="fa fa-keyboard mr-2"></i>Django</li>
                        <li><i class="fa fa-keyboard mr-2"></i>Flask</li>
                        <li><i class="fa fa-keyboard mr-2"></i>Node.Js</li>
                        <li><i class="fa fa-keyboard mr-2"></i>Express</li>
                    </ul>
                    <ul class="space-y-2">
                        <li><i class="fa fa-keyboard mr-2"></i>Python</li>
                        <li><i class="fa fa-keyboard mr-2"></i>LangChain</li>
                        <li><i class="fa fa-keyboard mr-2"></i>JavaScript</li>
                        <li><i class="fa fa-keyboard mr-2"></i>TypeScript</li>
                        <li><i class="fa fa-keyboard mr-2"></i>Docker</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}