{% extends 'base.html' %}
{% load static %}
{% load core_extras %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}

<!-- slider -->
<section class="container mx-auto mt-4 overflow-hidden">
        <img src="https://picsum.photos/id/124/1120/360" alt="">
</section>
<!-- main content -->
<main class="container my-4 flex flex-col md:flex-row items-start">
        <!-- left block -->
        <div class="w-full bg-white p-2 md:w-3/4 md:mr-4">
            <!-- list item -->
            {% for item in items %}
            <div class="flex flex-col md:flex-row justify-between items-center mb-3">
                <!-- left -->
                <div class="w-full md:w-1/4 md:mr-4 relative">
                    {% if item.img %}
                    <img class="object-cover w-full md:w-60" src="{{ item.img.url }}" alt="{{ item.title }}">
                    {% else %}
                    <img class="object-cover w-full md:w-60" src="http://picsum.photos/800/600" alt="{{ item.title }}">
                    {% endif %}
                    <span class="absolute bg-primary text-white text-sm px-2 py-1 top-2 right-2">{{ item.category.name }}</span>
                </div>
                <!-- right -->
                <div class="md:w-3/4 box-border">
                    <h3 class="text-lg font-bold mt-2"><a href="{% url 'details' item.slug %}">{{ item.title }}</a></h3>
                    <p class="text-sm mt-1"><i class="fa fa-clock mr-1"></i>2024-01-01</p>
                    <!-- summary -->
                    <p class="my-1 text-sm">{{ item.summary | safe }}</p>
                    <div class="text-sm flex justify-between mb-2">
                        <!-- left -->
                        <div class="flex items-center space-x-2 mt-2">
                            <img class="w-7 rounded-full" src="{{ item.author.profile.avatar.url }}" alt="{{ item.author.profile.aliasname }}">
                            <span>{{ item.author.profile.aliasname }}</span>
                        </div>
                        <!-- right -->
                        <div class="flex space-x-4 mt-3">
                            <span><i class="fa fa-comment mr-1"></i>{{ item.comments.all | length }}</span>
                            <span><i class="fa fa-eye mr-1"></i>{{ item.views }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- more button -->
            <div class="text-center my-3 py-4">
                <a href="{% url 'posts' %}" class="bg-secondary text-white py-3 px-8 rounded-md">查看所有博文 <i class="fa fa-angles-right"></i></a>
            </div>
        </div>
        <!-- right block -->
        <div class="w-full bg-white p-2 md:w-1/4">
            <!-- weather forcast -->
            <div class="mb-8 w-full relative">
                <!-- <img class="w-full shadow-md" src="./images/weather.jpg" alt="Weather"> -->
                <img class="w-full shadow-md" src="{% static 'images/weather.jpg' %}" alt="Weather">
                <div class="absolute top-6 left-12 text-white">
                    <div class="text-xl mb-2">新北天氣</div>
                    <div class="text-4xl mb-2 font-light">晴</div>
                    <div class="text-2xl mb-2 font-light">23</div>
                </div>
            </div>
            <!-- Category -->
            {% include 'core/categories.html' %}
            <!-- newest articles -->
            {% include 'core/latest-posts.html' %}
            <!-- recommended articles -->
            {% include 'core/recommends.html' %}
            <!-- hot tags -->
            {% display_tags %}
        </div>
</main>

{% endblock content %}