{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block content %}

<!-- slider -->
<section class="container mx-auto mt-4 overflow-hidden">
        <img src="https://picsum.photos/id/124/1120/360" alt="">
</section>
<!-- main content -->
<main class="container my-4 flex flex-col md:flex-row items-start">
        <!-- left block -->
        <div class="w-full bg-white p-2 md:w-3/4 md:mr-4">
            <!-- list item -->
            <div class="flex flex-col md:flex-row justify-between items-center mb-3">
                <!-- left -->
                <div class="w-full md:w-1/4 md:mr-4 relative">
                    <img class="object-cover w-full" src="https://picsum.photos/id/110/240/160" alt="文章頭圖">
                    <span class="absolute bg-primary text-white text-sm px-2 py-1 top-2 right-2">心情隨筆</span>
                </div>
                <!-- right -->
                <div class="md:w-3/4 box-border">
                    <h3 class="text-lg font-bold mt-2"><a href="#">文章日誌標題文字內容</a></h3>
                    <p class="text-sm mt-1"><i class="fa fa-clock mr-1"></i>2024-01-01</p>
                    <!-- summary -->
                    <p class="my-1 text-sm">摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息</p>
                    <div class="text-sm flex justify-between mb-2">
                        <!-- left -->
                        <div class="flex items-center items-center space-x-2 mt-2">
                            <img class="w-7 rounded-full" src="https://randomuser.me/api/portraits/men/20.jpg" alt="">
                            <span>Jonas</span>
                        </div>
                        <!-- right -->
                        <div class="flex space-x-4 mt-3">
                            <span><i class="fa fa-comment mr-1"></i>229</span>
                            <span><i class="fa fa-eye mr-1"></i>229</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col md:flex-row justify-between items-center mb-3">
                <!-- left -->
                <div class="w-full md:w-1/4 md:mr-4 relative">
                    <img class="object-cover w-full" src="https://picsum.photos/id/111/240/160" alt="文章頭圖">
                    <span class="absolute bg-primary text-white text-sm px-2 py-1 top-2 right-2">心情隨筆</span>
                </div>
                <!-- right -->
                <div class="md:w-3/4 box-border">
                    <h3 class="text-lg font-bold mt-2"><a href="#">文章日誌標題文字內容</a></h3>
                    <p class="text-sm mt-1"><i class="fa fa-clock mr-1"></i>2024-01-01</p>
                    <!-- summary -->
                    <p class="my-1 text-sm">摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息</p>
                    <div class="text-sm flex justify-between mb-2">
                        <!-- left -->
                        <div class="flex items-center items-center space-x-2 mt-2">
                            <img class="w-7 rounded-full" src="https://randomuser.me/api/portraits/men/20.jpg" alt="">
                            <span>Jonas</span>
                        </div>
                        <!-- right -->
                        <div class="flex space-x-4 mt-3">
                            <span><i class="fa fa-comment mr-1"></i>229</span>
                            <span><i class="fa fa-eye mr-1"></i>229</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col md:flex-row justify-between items-center mb-3">
                <!-- left -->
                <div class="w-full md:w-1/4 md:mr-4 relative">
                    <img class="object-cover w-full" src="https://picsum.photos/id/112/240/160" alt="文章頭圖">
                    <span class="absolute bg-primary text-white text-sm px-2 py-1 top-2 right-2">心情隨筆</span>
                </div>
                <!-- right -->
                <div class="md:w-3/4 box-border">
                    <h3 class="text-lg font-bold mt-2"><a href="#">文章日誌標題文字內容</a></h3>
                    <p class="text-sm mt-1"><i class="fa fa-clock mr-1"></i>2024-01-01</p>
                    <!-- summary -->
                    <p class="my-1 text-sm">摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息</p>
                    <div class="text-sm flex justify-between mb-2">
                        <!-- left -->
                        <div class="flex items-center items-center space-x-2 mt-2">
                            <img class="w-7 rounded-full" src="https://randomuser.me/api/portraits/men/20.jpg" alt="">
                            <span>Jonas</span>
                        </div>
                        <!-- right -->
                        <div class="flex space-x-4 mt-3">
                            <span><i class="fa fa-comment mr-1"></i>229</span>
                            <span><i class="fa fa-eye mr-1"></i>229</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col md:flex-row justify-between items-center mb-3">
                <!-- left -->
                <div class="w-full md:w-1/4 md:mr-4 relative">
                    <img class="object-cover w-full" src="https://picsum.photos/id/121/240/160" alt="文章頭圖">
                    <span class="absolute bg-primary text-white text-sm px-2 py-1 top-2 right-2">心情隨筆</span>
                </div>
                <!-- right -->
                <div class="md:w-3/4 box-border">
                    <h3 class="text-lg font-bold mt-2"><a href="#">文章日誌標題文字內容</a></h3>
                    <p class="text-sm mt-1"><i class="fa fa-clock mr-1"></i>2024-01-01</p>
                    <!-- summary -->
                    <p class="my-1 text-sm">摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息</p>
                    <div class="text-sm flex justify-between mb-2">
                        <!-- left -->
                        <div class="flex items-center items-center space-x-2 mt-2">
                            <img class="w-7 rounded-full" src="https://randomuser.me/api/portraits/men/20.jpg" alt="">
                            <span>Jonas</span>
                        </div>
                        <!-- right -->
                        <div class="flex space-x-4 mt-3">
                            <span><i class="fa fa-comment mr-1"></i>229</span>
                            <span><i class="fa fa-eye mr-1"></i>229</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col md:flex-row justify-between items-center mb-3">
                <!-- left -->
                <div class="w-full md:w-1/4 md:mr-4 relative">
                    <img class="object-cover w-full" src="https://picsum.photos/id/122/240/160" alt="文章頭圖">
                    <span class="absolute bg-primary text-white text-sm px-2 py-1 top-2 right-2">心情隨筆</span>
                </div>
                <!-- right -->
                <div class="md:w-3/4 box-border">
                    <h3 class="text-lg font-bold mt-2"><a href="#">文章日誌標題文字內容</a></h3>
                    <p class="text-sm mt-1"><i class="fa fa-clock mr-1"></i>2024-01-01</p>
                    <!-- summary -->
                    <p class="my-1 text-sm">摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息摘要信息</p>
                    <div class="text-sm flex justify-between mb-2">
                        <!-- left -->
                        <div class="flex items-center items-center space-x-2 mt-2">
                            <img class="w-7 rounded-full" src="https://randomuser.me/api/portraits/men/20.jpg" alt="">
                            <span>Jonas</span>
                        </div>
                        <!-- right -->
                        <div class="flex space-x-4 mt-3">
                            <span><i class="fa fa-comment mr-1"></i>229</span>
                            <span><i class="fa fa-eye mr-1"></i>229</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center my-3 py-4">
                <a href="#" class="bg-secondary text-white py-3 px-8 rounded-md">查看所有博文 <i class="fa fa-angles-right"></i></a>
            </div>
        </div>
        <!-- right block -->
        <div class="w-full bg-white p-2 md:w-1/4">
            <!-- weather forcast -->
            <div class="mb-8 w-full relative">
                <!-- <img class="w-full shadow-md" src="./images/weather.jpg" alt="Weather"> -->
                <img class="w-full shadow-md" src="{% static 'images/weather.jpg' %}" alt="Weather">
                <div class="absolute top-6 left-12 text-white">
                    <div class="text-xl mb-2">新北天氣</div>
                    <div class="text-4xl mb-2 font-light">晴</div>
                    <div class="text-2xl mb-2 font-light">23</div>
                </div>
            </div>
            <!-- Category -->
            <div class="mb-8">
                <h2 class="text-xl mb-3 border-b py-2">
                    <span class="border-b-4 border-b-primary py-2">博文分類</span>
                </h2>
                <ul class="mb-6">
                    <li class="mb-2 border-b border-dotted pb-2"><a class="flex justify-between items-center" href="#"><span>心情隨筆</span><span class="bg-primary items-center py-1 px-2 rounded-md text-white">12</span></a></li>
                    <li class="mb-2 border-b border-dotted pb-2"><a class="flex justify-between items-center" href="#"><span>LangChain筆記</span><span class="bg-primary items-center py-1 px-2 rounded-md text-white">12</span></a></li>
                    <li class="mb-2 border-b border-dotted pb-2"><a class="flex justify-between items-center" href="#"><span>React</span><span class="bg-primary items-center py-1 px-2 rounded-md text-white">12</span></a></li>
                    <li class="mb-2 border-b border-dotted pb-2"><a class="flex justify-between items-center" href="#"><span>Vue</span><span class="bg-primary items-center py-1 px-2 rounded-md text-white">12</span></a></li>
                    <li class="mb-2 border-b border-dotted pb-2"><a class="flex justify-between items-center" href="#"><span>Python</span><span class="bg-primary items-center py-1 px-2 rounded-md text-white">12</span></a></li>
                    <li class="mb-2 border-b border-dotted pb-2"><a class="flex justify-between items-center" href="#"><span>Js/Ts/Node.JS</span><span class="bg-primary items-center py-1 px-2 rounded-md text-white">12</span></a></li>
                    <li class="mb-2 border-b border-dotted pb-2"><a class="flex justify-between items-center" href="#"><span>Flutter/Dart</span><span class="bg-primary items-center py-1 px-2 rounded-md text-white">12</span></a></li>
                </ul>
            </div>
            <!-- newest articles -->
            <div class="mb-8">
                <h2 class="text-xl mb-3 border-b py-2">
                    <span class="border-b-4 border-b-primary py-2">最新博文</span>
                </h2>
                <ul class="my-4">
                    <li class="mb-2"><i class="fa fa-chevron-right text-sm text-slate-300 mr-2"></i><a href="#">博文日誌標題文字 01</a></li>
                    <li class="mb-2"><i class="fa fa-chevron-right text-sm text-slate-300 mr-2"></i><a href="#">博文日誌標題文字 02</a></li>
                    <li class="mb-2"><i class="fa fa-chevron-right text-sm text-slate-300 mr-2"></i><a href="#">博文日誌標題文字 03</a></li>
                    <li class="mb-2"><i class="fa fa-chevron-right text-sm text-slate-300 mr-2"></i><a href="#">博文日誌標題文字 04</a></li>
                    <li class="mb-2"><i class="fa fa-chevron-right text-sm text-slate-300 mr-2"></i><a href="#">博文日誌標題文字 05</a></li>
                </ul>
            </div>
            <!-- recommended articles -->
            <div class="mb-8">
                <h2 class="text-xl mb-3 border-b py-2">
                    <span class="border-b-4 border-b-primary py-2">推薦閱讀</span>
                </h2>
                <ul class="my-4">
                    <li class="mb-2"><i class="fa fa-chevron-right text-sm text-slate-300 mr-2"></i><a href="#">博文日誌標題文字 01</a></li>
                    <li class="mb-2"><i class="fa fa-chevron-right text-sm text-slate-300 mr-2"></i><a href="#">博文日誌標題文字 02</a></li>
                    <li class="mb-2"><i class="fa fa-chevron-right text-sm text-slate-300 mr-2"></i><a href="#">博文日誌標題文字 03</a></li>
                    <li class="mb-2"><i class="fa fa-chevron-right text-sm text-slate-300 mr-2"></i><a href="#">博文日誌標題文字 04</a></li>
                    <li class="mb-2"><i class="fa fa-chevron-right text-sm text-slate-300 mr-2"></i><a href="#">博文日誌標題文字 05</a></li>
                </ul>
            </div>
            <!-- hot tags -->
            <div class="mb-2">
                <h2 class="text-xl mb-3 border-b py-2">
                    <span class="border-b-4 border-b-primary py-2">熱門標簽</span>
                </h2>
                <div class="my-4 text-xs text-white flex flex-wrap">
                    <span class="bg-blog-dark p-2 m-1"><a href="#">Python</a></span>
                    <span class="bg-blog-dark p-2 m-1"><a href="#">SQL</a></span>
                    <span class="bg-blog-dark p-2 m-1"><a href="#">FastAPI</a></span>
                    <span class="bg-blog-dark p-2 m-1"><a href="#">Django</a></span>
                    <span class="bg-blog-dark p-2 m-1"><a href="#">Flask</a></span>
                    <span class="bg-blog-dark p-2 m-1"><a href="#">React</a></span>
                    <span class="bg-blog-dark p-2 m-1"><a href="#">LangChain</a></span>
                </div>
            </div>
        </div>
</main>

{% endblock content %}